 <div [style.display]='displayMode' class="adminInfoPanel">
        <div class="row userNameChip noShadowEffect">
            <mat-chip-list>
                <mat-chip color="primary" selected="true">John doe</mat-chip>
            </mat-chip-list>
        </div>
        <div class="row">
            <img src='Images/blankuser.png' class="userImage">
        </div>
        <div class="row userDetails">
            Administrator
        </div>
        <br>
        <div class="row userDetails">
            jonh.doe@gmail.com
        </div> 
        <br> 
        <div class="row userDetails">
            +94 (123) 456 8761
        </div> 
        <br>
        <div class="row userDetails">
         <button mat-raised-button class="mat-primary" >Logout</button>
        </div>
 </div> 