<div class="row schoolDashboardWorkSpaceRow">
    <div class="row schoolDashboardCardContainer shadowEffect" fxLayoutWrap="wrap" >  
        <div fxFlex="29%" class=" row schoolDashboardCard shadowEffect div_hover">
            <div class="row schoolDashboardCardInfo">
                <div class="row schoolDashboardCount">
                    <div fxFlex="24%" >
                        {{classes.length}}
                    </div>
                    <div  fxFlex="76%" class="schoolText">
                        Classe(s)
                    </div>
                 </div>
                         
            </div>
            <div class="row schoolDashboardCardFooter shadowEffect">
                <br>
                    {{_selectSchool}}
                </div>
                  
            </div> 

            <div fxFlex="29%" class=" row schoolDashboardCard shadowEffect div_hover">
            <div class="row schoolDashboardCardInfo">
                <div class="row schoolDashboardCount">
                    <div fxFlex="24%" >
                        {{courses.length}}
                    </div>
                    <div  fxFlex="76%" class="schoolText">
                        Course(s)
                    </div>
                 </div>
                         
            </div>
            <div class="row schoolDashboardCardFooter shadowEffect">
                <br>
                    {{_selectSchool}}
                </div>
                  
            </div>
            
             <div fxFlex="29%" class=" row schoolDashboardCard shadowEffect div_hover">
            <div class="row schoolDashboardCardInfo">
                <div class="row schoolDashboardCount">
                    <div fxFlex="24%" >
                        {{periodicQuaters.length}}
                    </div>
                    <div  fxFlex="76%" class="schoolText">
                        Periodic Quater(s)
                    </div>
                 </div>
                         
            </div>
            <div class="row schoolDashboardCardFooter shadowEffect">
                <br>
                    {{_selectSchool}}
                </div>
                  
            </div> 
                     
     </div>
     
</div>
